<footer class="footer">
    <div class="container-7">
        <div>
            <img src="src/image 1.png" alt="Logo" style="width: 78px; margin-bottom: 16px;"/>
            <p class="text-wrapper-11">منصة تعليمية متخصصة في تحفيظ القرآن الكريم وتدريس التربية الإسلامية بأحدث الأساليب التعليمية</p>
        </div>
        <div>
            <h3 class="text-wrapper-12">روابط سريعة</h3>
            <a href="home.html" class="link">الرئيسية</a>
            <a href="register.html" class="link">سجل الان</a>
            <a href="log-in.html" class="link">تسجيل الدخول </a>
        </div>
        <div>
            <h3 class="text-wrapper-12">تواصل معنا</h3>
            <div class="link"><img src="src/phone--.svg" alt="Phone Icon"> +965 1234 5678</div>
            <p class="link"><img src="src/email.svg" alt="Email Icon"> info@example.com</p>
            <p class="link"><img src="src/location.svg" alt="Location Icon"> الكويت</p>
        </div>
    </div>
    <p class="element">© 2025 جميع الحقوق محفوظة بالتعاون بين التوجيه الفني العام لمادة التربية الاسلامية ومنصة صاد</p>
</footer>
